vti_encoding:SR|utf8-nl
vti_author:SR|default
vti_modifiedby:SR|YOUR-TJ5IUP0HSQ\\Moi and Tanni
vti_timecreated:TR|20 Feb 2002 03:54:31 -0000
vti_timelastmodified:TR|18 Nov 2006 15:05:25 -0000
vti_extenderversion:SR|5.0.2.6790
vti_nexttolasttimemodified:TR|08 Apr 2003 15:17:28 -0000
vti_backlinkinfo:VX|
vti_syncwith_64.127.130.22\:80:TR|11 Sep 2002 01:59:09 -0000
vti_syncwith_www.drmaz.com\:80:TR|18 Nov 2006 15:05:25 -0000
vti_syncwith_ftp.drmaz.com\:80:TR|11 Sep 2002 03:21:07 -0000
vti_lineageid:SR|{CAD24D03-DDED-4066-B79C-3FEECED1AEDE}
vti_syncwith_ftp.clubhostcity.com\:21:TX|08 Apr 2003 13:17:28 -0000
vti_syncofs_ftp.clubhostcity.com\:21:TW|30 Oct 2005 21:45:00 -0000
vti_syncwith_st120.startlogic.com\:21:TX|08 Apr 2003 15:17:28 -0000
vti_syncofs_st120.startlogic.com\:21:TW|21 Sep 2005 12:15:00 -0000
vti_syncwith_drmaz.com\:80:TR|18 Nov 2006 15:05:25 -0000
vti_cacheddtm:TX|18 Nov 2006 15:05:25 -0000
vti_filesize:IR|2938
vti_cachedlinkinfo:VX|S|aarotar_001.gif S|chabkgde.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/copy-of-chalkboard/aarotar_001.gif FSUS|_themes/copy-of-chalkboard/chabkgde.gif
