vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|31 Oct 2005 13:42:42 -0000
vti_extenderversion:SR|5.0.2.6790
vti_author:SR|YOUR-TJ5IUP0HSQ\\Moi & Tanni
vti_modifiedby:SR|YOUR-TJ5IUP0HSQ\\Moi and Tanni
vti_timecreated:TR|31 Oct 2005 11:42:42 -0000
vti_lineageid:SR|{7107D13F-6CAD-452C-8AD6-692D7F33F3DB}
vti_backlinkinfo:VX|
vti_syncofs_ftp.drmaz.com\:21:TW|13 Aug 2006 12:24:00 -0000
vti_syncwith_ftp.drmaz.com\:21:TX|31 Oct 2005 13:42:42 -0000
vti_syncwith_st120.startlogic.com\:21:TX|31 Oct 2005 13:42:42 -0000
vti_syncofs_st120.startlogic.com\:21:TW|21 Sep 2005 15:11:00 -0000
vti_syncwith_drmaz.com\:80:TR|31 Oct 2005 13:42:42 -0000
vti_syncwith_www.drmaz.com\:80:TR|31 Oct 2005 13:42:42 -0000
vti_cacheddtm:TX|31 Oct 2005 13:42:42 -0000
vti_filesize:IR|6695
vti_cachedlinkinfo:VX|S|style_images/< S|style_images/< S|style_images/< S|style_images/<
vti_cachedsvcrellinks:VX|NSUS|Forum/style_images/< NSUS|Forum/style_images/< NSUS|Forum/style_images/< NSUS|Forum/style_images/<
