vti_encoding:SR|utf8-nl
vti_author:SR|moitanni-PC\\moitanni
vti_modifiedby:SR|moitanni-PC\\moitanni
vti_timelastmodified:TR|08 Mar 2013 00:45:56 -0000
vti_timecreated:TR|08 Mar 2013 00:45:56 -0000
vti_cacheddtm:TX|08 Mar 2013 00:45:56 -0000
vti_filesize:IR|805
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{1A47B742-9746-47F6-9C94-C1A0F946441E}
vti_backlinkinfo:VX|
