vti_encoding:SR|utf8-nl
vti_author:SR|moitanni-PC\\moitanni
vti_modifiedby:SR|moitanni-PC\\moitanni
vti_timelastmodified:TR|08 Mar 2013 00:45:56 -0000
vti_timecreated:TR|08 Mar 2013 00:45:56 -0000
vti_cacheddtm:TX|08 Mar 2013 00:45:56 -0000
vti_filesize:IR|1605
vti_cachedlinkinfo:VX|S|bull1_concrete.gif S|bull2_concrete.gif S|bull3_concrete.gif S|banner_concrete.gif S|nav_home_concrete.gif S|nav_hor_concrete.gif S|nav_hor_down_concrete.gif S|nav_next_concrete.gif S|nav_prev_concrete.gif S|nav_up_concrete.gif S|nav_vert_concrete.gif S|nav_vert_down_concrete.gif S|rule_concrete.gif S|bull1_concrete.gif S|bull2_concrete.gif S|bull3_concrete.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/concrete/bull1_concrete.gif FSUS|_themes/concrete/bull2_concrete.gif FSUS|_themes/concrete/bull3_concrete.gif FSUS|_themes/concrete/banner_concrete.gif FSUS|_themes/concrete/nav_home_concrete.gif FSUS|_themes/concrete/nav_hor_concrete.gif FSUS|_themes/concrete/nav_hor_down_concrete.gif FSUS|_themes/concrete/nav_next_concrete.gif FSUS|_themes/concrete/nav_prev_concrete.gif FSUS|_themes/concrete/nav_up_concrete.gif FSUS|_themes/concrete/nav_vert_concrete.gif FSUS|_themes/concrete/nav_vert_down_concrete.gif FSUS|_themes/concrete/rule_concrete.gif FSUS|_themes/concrete/bull1_concrete.gif FSUS|_themes/concrete/bull2_concrete.gif FSUS|_themes/concrete/bull3_concrete.gif
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{862E810B-1C85-42C2-A74E-351E63151A8A}
vti_backlinkinfo:VX|
