vti_encoding:SR|utf8-nl
vti_webservertype:SR|diskweb
vti_restartmanual:IX|0
vti_defaultlanguage:SR|en-us
vti_textextensions:SX|.txt.
vti_timecreated:TR|19 Feb 2002 16:19:32 -0000
vti_copytimestamp_http\://www.drmaz.com:TR|03 May 2009 00:17:36 -0000
vti_oldestcompatibleversion:SR|2.0.0.0
vti_structto_drmaz.com\:80:TR|15 Nov 2006 06:52:07 -0000
vti_navbuttonnextlabel:SR|Next
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_structto_64.127.130.22\:80:TR|09 Sep 2002 05:43:18 -0000
vti_htmlextensions:SX|.htm.html.shtml.shtm.stm.htt.htx.asp.alx.asa.
vti_casesensitiveurls:IX|0
vti_textindexood:IR|0
vti_themedefault:SR|concrete 000
vti_approvallevels:VR|Content\\ Review Legal\\ Review Code\\ Review Manager\\ Review
vti_borderdefault:SR|tlb
vti_welcomenames:VX|index.htm index.html default.htm default.html welcome.htm welcome.html home.htm home.html
vti_structto_ftp.drmaz.com\:80:TR|11 Sep 2002 12:23:10 -0000
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ACIPAddresses vti_ServerEmailTransport vti_ServerIndexServer vti_ServerASP vti_ServerCollab vti_TimedDocEvents
vti_categories:VR|Travel Expense\\ Report Business Competition Goals/Objectives Ideas Miscellaneous Waiting VIP In\\ Process Planning Schedule
vti_insecureserverurl:SR|file://
vti_missingoverlaylabels:VX|
vti_copytimestamp_http\://drmaz.com:TR|17 Nov 2006 22:00:59 -0000
vti_copytimestamp_http\://64.127.130.22:TR|11 Sep 2002 02:01:50 -0000
vti_defaultcharset:SR|windows-1252
vti_autorecalc:IX|1
vti_httpdversion:SX|FrontPage DBW
vti_navbuttonuplabel:SR|Back
vti_extenderversion:SR|5.0.2.6790
vti_navbuttonprevlabel:SR|Back
vti_longfilenames:IX|1
vti_structto_www.drmaz.com\:80:TR|25 Apr 2009 05:40:49 -0000
vti_disableautoimgsizeexts:SX|.asp
vti_copytimestamp_http\://ftp.drmaz.com:TR|11 Sep 2002 13:26:43 -0000
vti_ignorekeyboard:IR|0
vti_copytimestamp_ftp\://st120.startlogic.com:TR|21 Sep 2006 04:01:56 -0000
vti_dependenciesood:IR|0
vti_navbuttonhomelabel:SR|Home
vti_usernames:VR|
vti_missingoverlays:VX|
